#cart {
    padding-top: 20px;
    margin-top: 0;
    flex-grow: 1;
}

#cart .spacer {
    order: initial;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.cartDetails {
    display: flex;
    flex-direction: column;
}

.cartInfo #empty {
    background-color: #ffffffb3;
    padding: 40px 50px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: var(--text);
}

.cartItem {
    background-color: #ffffffb3;
    padding: 20px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: var(--text);
    margin-bottom: 15px;
    display: flex;
    width: min(95%, 800px);
}

.dark .cartItem{
    background-color: rgba(0, 0, 0, 0.1);
}

.cartItem img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 20px;
}

.cartQuantity {
    align-self: flex-start;
    border-radius: 10px;
    background-color: var(--bg);
    display: flex;
    border: 1px solid var(--ldb);
}

.dark .cartQuantity{
    background-color: var(--ldb);
}

.cartQuantity button,
.cartQuantity span {
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 600;
}

.cartQuantity span {
    margin: 0 6px;
}

.cartTitle {
    font-weight: 600;
}

.cartAuthor {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .cartItem {
        flex-direction: column;
        align-items: center;
        width: min(350px, 95%);
    }

    .cartDetails{
        align-items: center;
    margin: 10px 0;
    }

    .cartTitle{
        text-align: center;
    }

    .cartItem img{
        width: min(200px, 95%);
        height: auto;
        aspect-ratio: 1/1;
        margin: 0;
    }

    .cartQuantity{
        align-self: center;
    }
}
