main {
    min-height: calc(100vh - 110px);
    padding: 40px 80px;
    display: flex;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 max(10%, 80px);
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    font-size: 22px;
    padding-bottom: 10px;
}

.line {
    border: 1.5px solid var(--text);
    min-height: 25px;
}

.line:nth-last-child(1) {
    display: none;
}

.follow {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 8px 3px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(3px);
    color: var(--text);
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 max(10%, 80px);
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.fPara {
    font-size: 23px;
    color: var(--accent2);
    font-weight: 500;
}

.sPara {
    line-height: 0.85;
    color: var(--accent);
    font-size: 78px;
    font-weight: 700;
}

.tPara {
    font-size: 25px;
    font-weight: 700;
    color: var(--accent2);
    margin-top: 15px;
}

.info div {
    margin-top: 40px;
}

.info a {
    border: 3px solid var(--accent2);
    padding: 15px 25px;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: 500;
    color: var(--text);
    transition: opacity 0.1s, transform 0.5s;
    display: inline-block;
    /* will-change: transform; */
}

.info a:hover {
    opacity: 0.9;
    transform: translateY(-3px);
}

.info a:nth-of-type(2) {
    background-color: var(--accent2);
    color: var(--lw);
}

#books, #cart {
    display: flex;
    justify-content: center;
    padding: 50px max(7%, 30px);
    margin-top: 40px;
    padding-top: 120px;
}

.books, .cartInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#books .booksTag,
#cart .cartTag {
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#books .line, #cart .line {
    width: 0;
    min-height: 70px;
}

#books, #cart {
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    main {
        padding: 30px 50px;
    }

    .info {
        padding: 0 max(5%, 30px);
    }
}

@media screen and (max-width: 710px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .line {
        max-height: 0;
        min-height: 0;
        min-width: 70px;
        order: 1;
        font-size: 0;
    }
    .line:nth-last-child(1) {
        display: block;
        order: 1 !important;
    }
    .follow {
        writing-mode: horizontal-tb;
        transform: rotate(0);
        order: 1;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 1070px) {
    #about {
        padding: 50px max(4%, 30px);
    }
}

@media screen and (max-width: 850px) {
    .info{
        align-items: center;
    }

    #books, #cart{
        flex-direction: column-reverse;
    }

    #books .booksTag , #cart .cartTag {
        flex-direction: row;
        transform: none;
        justify-content: center;
    }

    #books .follow, #cart .follow {
        transform: none;
        writing-mode: rl;
    }

    #books .line, #cart .line {
        min-height: 0;
        width: 60px;
    }

    #books .line:nth-last-child(1), #cart .line:nth-last-child(1) {
        display: block;
    }

    #about p {
        text-align: center;
        padding: 0;
    }

    .btnGroup {
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    #books, #cart {
        padding: 50px max(4%, 30px);
    }
} 

@media screen and (max-width: 600px) {
    main{
        padding: 30px 10px;
    }

    #about>div a{
        margin-bottom: 10px;
    }

    #about>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}