.bookCard {
    width: 260px;
    margin: 20px;
    background-color: var(--dw);
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px 2px rgba(0 0 0 / 10%);
    color: var(--text);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
}

.bookCard:hover {
    transform: translateY(-5px);
}

.bookCard img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.bookCard img:hover {
    transform: scale(1.02);
}

.bookCard button {
    display: block;
    margin: 14px;
    padding: 8px;
    background-color: var(--ddy);
    border-radius: 20px;
}

.bookCard button:hover {
    background-color: #f77f00c7;
}

.cardInfo {
    padding: 10px 14px 0 15px;
}

.cardInfo h2 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 5px;
}

.cardInfo h3 {
    text-align: center;
    color: var(--lr);
}

.cardInfo p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 17px;
    margin-bottom: 10px;
    text-align: justify;
}

.cardInfo span {
    text-align: center;
    font-weight: 600;
    display: block;
    color: var(--llb);
    margin-bottom: 5px;
}

.bookCard .spacer {
    flex-grow: 1;
    order: initial;
}

/* Removed unused styles */