/* #root {
  background-color: var(--bg);
} */

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
}

footer {
  background-color: rgba(255 255 255 / 0.5);
  padding: 50px 120px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.dark footer{
  background-color: rgba(0 0 0 / 0.1);
  color: var(--dw);
}

#top {
  background: var(--dg);
  color: var(--lw);
  padding: 5px 13px;
  border-radius: 5px;
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#top:hover {
  background: var(--llb);
}

footer span a{
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  footer {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 450px) {
  footer {
    /* position: relative; */
    padding: 30px;
  }

  /* footer>a{
    position: absolute;
    top:-50px;
    right: 30px;
  } */
}